body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #4F614E;
}
header {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #AE3B30;
  color: black;
  text-align: start;
  
}

#Equipo {
 
  margin-top: 0px;
  margin-left: 2px;
  margin-bottom: -10px;
}

#Asignatura {
  font-size: large;
  font-size: 1.1rem;
  margin-left: 2px;
  margin-bottom: -10px;
}

#Semestre {
  font-size: medium;
  font-size: 0.9rem;
  margin-left: 2px;
}

.Nombres { 
    font-size: large;
}